<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty
            scope="context"
            name="coffe_server"
            source="spring.application.name"
            defaultValue="APP"/>

    <springProperty
            scope="context"
            name="quitto"
            source="spring.application.group"
            defaultValue="CORE"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <conversionRule
            conversionWord="coffeeHighlight"
            class="com.quitto.server.infrastructure.config.logger.CoffeColorConverter"/>

    <property
        name="CONSOLE_LOG_PATTERN"
        value="%clr([%d{HH:mm:ss}]){faint} %clr([${coffe_server}]){blue,bold} %clr([${quitto}]){cyan} %clr([%thread]){blue} %clr([%X{module:-SYSTEM}]){faint} %coffeeHighlight([%-4level]) %clr(:){faint} %clr(%logger{40}){cyan} %clr(>){faint} %msg%n"/>

    <property
            name="FILE_LOG_PATTERN"
            value="%clr([%d{HH:mm:ss.SSS}]){faint} %clr([${coffe_server}]){blue,bold} %clr([${quitto}]){cyan} %clr([%thread]){blue} %clr([%X{module:-SYSTEM}]){faint} %coffeeHighlight([%-4level]) %clr(:){faint} %clr(%logger{40}){cyan} %clr(>){faint} %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <append>true</append>

        <encoder charset="UTF-8">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
